<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RefundRobot.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <RefundRobot.My.MySettings>
            <setting name="Error_Email_Password" serializeAs="String">
                <value>ErrRefund</value>
            </setting>
            <setting name="DEFAULT_DATABASE" serializeAs="String">
                <value>DBGateWay</value>
            </setting>
            <setting name="DEFAULT_SERVER" serializeAs="String">
                <value>Datacentre</value>
            </setting>
            <setting name="SQL_User_ID" serializeAs="String">
                <value>refunduser</value>
            </setting>
            <setting name="SQL_User_Password" serializeAs="String">
                <value>taNg571Ue</value>
            </setting>
            <setting name="SMTPServer" serializeAs="String">
                <value>10.0.0.42</value>
            </setting>
            <setting name="RefundRobot_2005_InvoicePost_AccountsProService"
                serializeAs="String">
                <value>http://accountsws.accountscentre.com/AccountsProService.asmx</value>
            </setting>
            <setting name="Error_Email_ID" serializeAs="String">
                <value>saad@infinilogic.com</value>
            </setting>
            <setting name="Refund_Limit" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RefundRobot_2005_com_infinilogic_gatewayrefund_CXLRefundService"
                serializeAs="String">
                <value>http://gatewayrefund.infinilogic.com/cxlRefundService.asmx</value>
            </setting>
            <setting name="Error_Email_ID_From" serializeAs="String">
                <value>refund.errors@accountscentre.com</value>
            </setting>
            <setting name="SMTPServer_LOCAL" serializeAs="String">
                <value>192.168.1.66</value>
            </setting>
            <setting name="LOCAL_Mail_Server" serializeAs="String">
                <value>TRUE</value>
            </setting>
        </RefundRobot.My.MySettings>
    </applicationSettings>
</configuration>
